* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
    pointer-events: none;
}

.game-container {
    width: max(300px, 35vw);
    height: max(300px, 35vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

button {
    font-size: max(30px, 4vw);
    border-radius: 1rem;
    border: 3px solid #888;
}

.marker {
    height: max(150px, 17.5vw);
    width: max(50px, 10vw);
    font-size: 4rem;
    background-color: #dfdfdf;
    border: 2px solid black;
}

.marker[value="X"] {
    background-color: #888;
}

.marker:active {
    background-color: #888;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: #2227;
    color: white;
    font-size: max(4rem, 4vw);
    display: grid;
    place-items: center;
    font-family: monospace, serif;
    transform: scale(0);
}

.marker-container {
    display: flex;
    flex-direction: column;
}

.marker-container button:first-child {
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid black;
}

.marker-container button:last-child {
    border-radius: 0 0 1rem 1rem;
    border-top: 1px solid black;
}

.start {
    height: max(300px, 35vw);
    font-size: max(30px, 3vw);
}

.form-container {
    position: absolute;
    z-index: 12;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #8888;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

label {
    font-family: monospace, serif;
    font-size: max(0.8rem, 1.2vw);
}

input {
    font-family: monospace, serif;
    height: max(1.2rem, 2vw);
    font-size: max(1rem, 1.5vw);
}

form {
    width: 25vw;
    height: 15vw;
    background-color: burlywood;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button[type="submit"] {
    font-family: monospace, serif;
    font-size: max(1rem, 2vw);
}

button[type="submit"]:hover {
    transform: scale(1.02);
}

button[type="submit"]:active {
    background-color: #cfcfcf;
    transform: scale(1);
}