* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
}

.game-container {
    width: max(300px, 35vw);
    height: max(300px, 35vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

button {
    background-color: gray;
    font-size: 2.5rem;
}

.marker {
    height: max(300px, 35vw);
    width: max(50px, 10vw);
    font-size: 4rem;
    border-radius: 1rem;
    background-color: #dfdfdf;
}

.marker:active {
    background-color: #888;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: #2227;
    color: greenyellow;
    font-size: 10rem;
    display: grid;
    place-items: center;
    font-family: monospace, serif;
}