* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    position: relative;
}

.game-container {
    width: max(300px, 35vw);
    height: max(300px, 35vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

button {
    font-size: max(30px, 4vw);
    border-radius: 1rem;
    border: 3px solid #888;
}

.marker {
    height: max(150px, 17.5vw);
    width: max(50px, 10vw);
    font-size: 4rem;
    background-color: #dfdfdf;
    border: 2px solid black;
}

.marker[value="X"] {
    background-color: #888;
}

.marker:active {
    background-color: #888;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: #2227;
    color: white;
    font-size: 10rem;
    display: grid;
    place-items: center;
    font-family: monospace, serif;
    transform: scale(0);
}

.marker-container {
    display: flex;
    flex-direction: column;
}

.marker-container button:first-child {
    border-radius: 1rem 1rem 0 0;
    border-bottom: 1px solid black;
}

.marker-container button:last-child {
    border-radius: 0 0 1rem 1rem;
    border-top: 1px solid black;
}

.start {
    height: max(300px, 35vw);
    font-size: max(30px, 3vw);
}